.seguros-bg {
  background: var(--c11);
}

.seguros {
  padding-bottom: 7.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.5rem;
  align-items: center;
}

.seguros h2 {
  padding-top: 3.75rem;
  margin-bottom: 1.25rem;
  grid-column: 1 / -1;
}

.seguros-item {
  background: var(--c12);
  padding: 2rem 2rem 2rem 3.75rem;
  border-radius: 0.25rem;
}

.seguros-item div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.5rem;
}

.seguros-item span {
  display: block;
  text-align: right;
}

.seguros-item ul {
  display: grid;
  gap: 1.25rem;
  margin-bottom: 1.875rem;
}

.seguros-item li {
  display: flex;
  align-items: center;
  position: relative;
}

.seguros-item li::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 0.8125rem;
  height: 0.5625rem;
  left: -1.25rem;
  background-image: url("../../img/icones/lista.svg");
}

@media (width <= 415px) {
  .seguros {
    grid-template-columns: 1fr;
    padding-bottom: 3.75rem;
  }
}
