.header-bg {
  background: #000000;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.header__menu {
  display: flex;
  gap: 40px;
}

.header__menu a {
  display: inline-block;
  padding: 20px 0;
  font-size: 18px;
  color: #ffffff;
  position: relative;
}

.header__menu a::after {
  content: "";
  display: block;
  margin-top: 4px;
  width: 0;
  height: 2px;
  background: #ffffff;
  transition: 0.3s;
  position: absolute;
}

.header__menu a:hover::after {
  width: 100%;
}
