@media (width <= 1024px) {
  .header__menu {
    gap: 30px;
  }
  
  .header__menu a {
    background: #111111;
    padding: 15px 20px;
    border-radius: 4px;
  }

  .header__menu a:hover {
    background: #2e2e2e;
  }

  .header__menu a::after {
    display: none;
  }
}
